{% load static %}

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{{ title }} :: QHSE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{% static 'css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

        <style type="text/css">
            .centered {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                margin-left: 100px;
            }
            .nav-tabs .nav-link.active {
                background-color: transparent;
            }
        </style>

    </head>

    <body>

        <!-- Begin page -->
        <div class="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            {% include 'includes/sidebar.html' %}
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Topbar Start -->
                    {% include 'includes/topbar.html' %}
                    <!-- end Topbar -->

                    {% block content_page %}
                    {% endblock %}

                </div>
                <!-- content -->

                <!-- Footer Start -->
                {% include 'includes/footer.html' %}
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <!-- bundle -->
        <script src="{% static 'js/app.min.js' %}"></script>

        <!-- third party js -->
        <script src="{% static 'js/chart.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'js/jquery-jvectormap-world-mill-en.js' %}"></script>
        <script src="{% static 'js/dropzone.min.js' %}"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="{% static 'js/demo.dashboard.js' %}"></script>
        <!-- end demo js-->
    </body>

</html>